@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #040D10;
  --primary: oklch(88.754% 0.10011 77.588);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040D10;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}

button {
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-work-sans);
}

.custom-font {
  font-family: var(--font-baskervville);
}